@import "tailwindcss";

html,
body {
    @apply m-0 p-0 h-full;
}

select {
    @apply p-2 font-bold rounded-lg bg-stone-900 text-white focus:outline-none;
}

.collageSize {
    @apply w-12/12 h-80;
}

.imageSize {
    @apply text-white;
}
